In [1]:
# Q3. Print the series: 10, 20, 30, ..., 300

for i in range(10, 301, 10):
    print(i)

10
20
30
40
50
60
70
80
90
100
110
120
130
140
150
160
170
180
190
200
210
220
230
240
250
260
270
280
290
300

In [2]:
#  Q7. Write a program to display all the numbers which are divisible by 13 but not by 3 between 100 and 500.(exclusive both numbers)   
for num in range(101, 500):
    if num % 13 == 0 and num % 3 != 0:
        print(num)

104
130
143
169
182
208
221
247
260
286
299
325
338
364
377
403
416
442
455
481
494

In [5]:
num = input("Enter a number: ")

for digit in num:
    if digit == '0':
        print("Zero")
    elif digit == '1':
        print("One")
    elif digit == '2':
        print("Two")
    elif digit == '3':
        print("Three")
    elif digit == '4':
        print("Four")
    elif digit == '5':
        print("Five")
    elif digit == '6':
        print("Six")
    elif digit == '7':
        print("Seven")
    elif digit == '8':
        print("Eight")
    elif digit == '9':
        print("Nine")

Enter a number:  4567

Four
Five
Six
Seven

In [7]:
for i in range(1, 50):
    print(i, "---", 50 - i)

1 --- 49
2 --- 48
3 --- 47
4 --- 46
5 --- 45
6 --- 44
7 --- 43
8 --- 42
9 --- 41
10 --- 40
11 --- 39
12 --- 38
13 --- 37
14 --- 36
15 --- 35
16 --- 34
17 --- 33
18 --- 32
19 --- 31
20 --- 30
21 --- 29
22 --- 28
23 --- 27
24 --- 26
25 --- 25
26 --- 24
27 --- 23
28 --- 22
29 --- 21
30 --- 20
31 --- 19
32 --- 18
33 --- 17
34 --- 16
35 --- 15
36 --- 14
37 --- 13
38 --- 12
39 --- 11
40 --- 10
41 --- 9
42 --- 8
43 --- 7
44 --- 6
45 --- 5
46 --- 4
47 --- 3
48 --- 2
49 --- 1