# IF ELSE STATEMENT

In [3]:
n = int(input('enter n'))
if n>0:
        print(n, 'is positive')
else:
    print(n, 'is negative')

enter n 5

5 is positive

In [4]:
n = int(input('enter n'))
if n%2==0:
    print(n,'is even')
else:
    print(n , 'is odd')

enter n 4

4 is even

In [7]:
 a= int(input('enter a'))
 b = int(input('enter b'))
if a>b:
    print(a ,' is greater than ', b)
else:
    print(b ,' is greater than ', a)

enter a 0
enter b 9

9  is greater than  0

# elif (multiple condition)

In [ ]:
n = int(input('enter n'))
if n>0:
        print(n, 'is positive')
elif n==0:
    print(n, 'is Neutral')
else:
    print(n, 'is negative')

In [12]:
a= int(input('enter a'))
b = int(input('enter b'))
c = input('enter operator')
if c=='+':
    print(a+b, 'plus operator')
elif c=='-':
     print(a-b, 'minus operator')
elif c=='*':
     print(a*b, 'multiply operator')
else:
     print('invalid operator')

enter a 7
enter b 7
enter operator %

invalid operator

In [13]:
a= int(input('enter a'))
b = int(input('enter b'))
c = int(input('enter c'))
if a>b and a>c:
    print(a, 'is greater than', b , c)
elif b>a and b>c:
     print(b, 'is greater than', a , c)
else:
     print(c, 'is greater than', b , a)

enter a 4
enter b 5
enter c 6

6 is greater than 5 4

In [21]:
m = int(input('enter marks'))
if m>90 and m<=100:
    print('grade is A')
elif m>70 and m<=90:
    print('grade is B')
elif m>50 and m<70:
    print('grade is B')
elif m>30 and m<=50:
    print('grade is B')
else:
    print('grade is E')

enter marks 60

grade is B

In [8]:
a= input('Enter Day:')
if a== 'sunday' or a== 'Saturday':
    print('Weekend')
elif a=='monday' or  a== 'tuesday' or a=='wednesday':
     print('Weekday')
else:
     print('invalid day')

Enter Day: monday

Weekday

In [16]:
sal = int(input('enter your salary'))
if sal<25000:
    print('Net sal', sal -(sal*0 )/100)
elif sal>=25000 and sal<50000:
     print('Net sal', sal -(sal*10 )/100)
  
elif sal>=50000 and sal<100000:
       print('Net sal', sal -(sal*20 )/100)

else:
       print('Net sal', sal -(sal*50 )/100)

enter your salary 50000

Net sal 40000.0

In [28]:
n = int (input('enter n:'))
if n%5==0 and n%7==0:
    print(n,'divisble by 5 and 7')
elif n%7==0 :
    print(n,'divisble by only 7')   
elif n%5==0 :
    print(n ,'divisble by only 5')
else:
        print('None of them ')

enter n: 35

35 divisble by 5 and 7

# Nested

In [32]:
n = int(input ('enter n :'))

if n%5==0:
    if n%7 ==0:
        print(n, 'is div by 5 , 7')
    else:
        print(n ,'is div by only 5')

elif n%7==0:
    print(n , 'is div by only 7')
else:
    print(n , 'is not div by any of them')

enter n : 6

6 is not div by any of them

In [2]:
#1.	Write a Python program which accepts the radius of a circle from the user and compute the area.
# Area=Ï€*r*r

r = float(input('Enter radius:'))
pi= 3.14
Area = pi*r*r
print('Area of circle is',Area)

Enter radius: 2

Area of circle is 12.56

In [5]:
#2.	Write a Python program to get the volume of a sphere with radius 6.
#formulae to calculate volume of sphere:  4/3 ðœ‹ rÂ³
r = 6
pi= 3.14
sphere =  (4/3)*pi*(r**3)
print('Volume of sphere: is',sphere)

Volume of sphere: is 904.3199999999999

In [8]:
#3.	Write a Python program to calculate the sum of three equal numbers, and the result is the three times of their sum.
num=float(input('Enter number'))
sum_of_three = num+num+num
result= 3*sum_of_three

print('sum of three equal numbers:' , sum_of_three)
print('three times the sum', result)

Enter number 4

sum of three equal numbers: 12.0
three times the sum 36.0

In [12]:
#4.	Write a Python program that will accept the base and height of a triangle and compute the area
# formulae to calculate area of triangle:  1/2 base * height

base= float(input('Enter base:'))
height = float(input('Enter height:'))
area = (1/2)*base*height
print('Area of triangle is ', area)

Enter base: 7
Enter height: 2

Area of triangle is  7.0

In [14]:
#Write a Python program to solve (x + y) * (x + y) 
#Test Data : x = 4, y = 3
#Expected Output :   49
x = int(input('Enter x:'))
y = int(input('Enter y:'))
z = (x+y)*(x+y)
print(z)

Enter x: 4
Enter y: 3

49

In [15]:
## 6.	Write a Python program to compute the simple interest of a specified principal amount, rate of interest, and a number of years.
# Test Data : amt = 10000, int = 3.5, years = 7
# formluae= amt* int * years/100 ......(p *r*t)/100
amt = int(input('Enter amount:'))
interest = float(input('Enter int'))
num_year = int(input('Enter number of years'))
simple_int = (amt*interest*num_year)/100
print('Simple interest is',simple_int)

Enter amount: 10000
Enter int 3.5
Enter number of years 7

Simple interest is 2450.0

In [16]:
# 7.	Write a Python program to convert (parse) a string to Float or Integer.
# Test Data : "246.2458"
# Expected Output : 246

data= "246.2458"
conv_float = float(data)
conv_int = int(conv_float)
print('as float value :', conv_float)
print('as int value :', conv_int)

as float value : 246.2458
as int value : 246

In [17]:
# 8.	Write a Python program to calculate the hypotenuse of a right angled triangle.
# Formulae : c2 = a2 + b2,
a = int(input('enter a:'))
b = int(input('enter b:'))
c = (a**2+b**2)**0.5
print(' Hypotenuse of a right angled triangle is ', c)

enter a: 5
enter b: 7

 Hypotenuse of a right angled triangle is  8.602325267042627

In [24]:
# 9.	Write a Python program to swap two variables
# Test Data : a = 77, x= 1
# Expected Output : a= 1, x=77
a = 77
x =1
swap=a
a=x
x=swap
print('a=',a)
print('x=',x)

a= 1
x= 77

In [28]:
# 10.	Write a Python program to calculate the cube of any number which was taken by input.
n = int(input('enter n:'))
cube= n**3
print('cube of' , n ,'is', cube)

enter n: 2

cube of 2 is 8

In [18]:
w = input('Enter Your Weather')

if w =='sunny':
temp = int (input('Enter your temp'))
if temp=<30 and temp>50:
        print('Play')
         else:
         print('Otherwise not play')
    
elif w=='winter':
temp = int (input('Enter your temp'))
     if temp=<10 and temp>20:

         print('Play')
else:
        print('Otherwise not play')
elif w=='rainy':
temp = input('Enter your temp')
     if temp==heavy:
          print('Play')
    else:
        print('Otherwise not play')
else:
    print('Invalid')

IndentationError: unindent does not match any outer indentation level (<string>, line 21)

In [ ]:
w = input('Enter Your Weather')
if w =='sunny':
    temp = int (input('Enter your temp'))    
        if temp=<30 and temp>50:

In [24]:
n=int(input('Enter n:'))
if n%2!=0:
    print('weired')
elif n%2==0:
    if (n>2  and n>5):
       print('not weired')
elif n%2==0:
    if(n>5 and n<20):
        print('weired')
elif n>20:
    print('not weired ')
else:
    print('invalid')

Enter n: 5

weired

In [29]:
# menu
print('Availble items are PIZZA , BURGER , PASTA')
order = input('Place your order ')
if order =='PIZZA':
    top = input('Select toppings veggies , cheese , corn')
    if top=='veggies':
        print('Your',top,order,'Price is 120')
    elif top=='cheese':
        print('Your',top, order,'Price is 150')
    elif top=='corn':
        print('Your',top,order,'Price is 190')
    else:
    print(top,order,'is not available')
elif order=='BURGER':
    cat=input('Select catgory veg, non-veg'):
    if cat=='veg':
        print('Your',cat,order,'Price is 80')
    elif cat=='non-veg':
        print('Your',cat,order,'Price is 120')

IndentationError: expected an indented block after 'else' statement on line 12 (2443508839.py, line 13)

In [1]:
### print('Welcome to SBI ATM')

bal = 1000
pin = int(input('enter pin '))

if pin ==1234:
    print('press 1 for check bal')
    print('press 2 for deposit')
    print('press 3 for withdrawl')

    opt = int(input('enter option '))
    if opt==1:
        print('your account balance is',bal)
        
    elif opt==2:
        amt = int(input('enter deposit amount '))
        print('your final balance is',bal+amt)

    elif opt ==3:
        amt = int(input('enter withdrawl amount '))
        if amt <=bal:
            print('your final balance is',bal-amt)
        else:
            print('insufficient amount')

    else:
        print('invalid option')
        


else:
    print('Incorrect pin ')

Welcome to SBI ATM

enter pin  1234

press 1 for check bal
press 2 for deposit
press 3 for withdrawl

enter option  2
enter deposit amount  20000

your final balance is 21000