In [ ]:
x=1
whike x<=10:
print(x)

In [2]:
for i in range(1,3):
    for j in range(1,3):
        print(i)

1
1
2
2

In [ ]:
 for i in range(2):
     for j in range(1,3):
         print(j)
         for k in range(2):
             print('b')

In [3]:
n=int(input('enter n'))
for i in range(1,n+1):
    for j in range(1,11):
        print(i,'*',j,'=',i*j)

enter n 3

1 * 1 = 1
1 * 2 = 2
1 * 3 = 3
1 * 4 = 4
1 * 5 = 5
1 * 6 = 6
1 * 7 = 7
1 * 8 = 8
1 * 9 = 9
1 * 10 = 10
2 * 1 = 2
2 * 2 = 4
2 * 3 = 6
2 * 4 = 8
2 * 5 = 10
2 * 6 = 12
2 * 7 = 14
2 * 8 = 16
2 * 9 = 18
2 * 10 = 20
3 * 1 = 3
3 * 2 = 6
3 * 3 = 9
3 * 4 = 12
3 * 5 = 15
3 * 6 = 18
3 * 7 = 21
3 * 8 = 24
3 * 9 = 27
3 * 10 = 30

In [ ]:
# break
# continue
# pass

In [1]:
for i in range(10):
    if i==4:
        break
    print(i)

0
1
2
3

In [2]:
for i in range(10):
    if i==4:
        print(i)
        break
    print(i)

0
1
2
3
4

In [3]:
for i in range(2,10):
    print(i)
    if i==4:
        
        break
    print(i)

print('bye')

2
2
3
3
4
bye

In [4]:
for i in range(1,6):
    if i==3:
        print('hello')
        break
        
    print(i)

1
2
hello