# loop

In [ ]:
# Loops
# for loop
# while loop

In [ ]:
# for loop

# 1. when i want to iterate in a given iterable we use for loop for it  
# (when i want to move character by character in a given sequaence we use for loops for it)
# 2. when i want to do the task number of times we use for loop for it

In [3]:
n = input('Enter Your name')
for i in n:
    print(i)

print('bye')

Enter Your name asha

a
s
h
a
bye

In [4]:
n=input('enter name')
c=0
for i in n:
    c=c+1
print(c)

enter name asha

4

In [8]:
n=input('enter name')
c=0
for i in n:
    c=c+1
    print(i,c)

enter name asha

a 1
s 2
h 3
a 4

In [36]:
L =[1,2,3,4,5,6,7,8,9,0]
c=0
for i in L:
    c=c+1
print(c)

10

In [37]:
L =[1,2,3,4,5,6,7,8,9,0]
c=0
for i in L:
    c=c+i
print(c)

45

In [42]:
L =[1,2,3,4,5,6,7,8,9,0]
c= 0
n=0
for i in L:
    c=c+1
    n=n+i
print(n/c)

4.5

In [20]:
L=[1,2,3,4,5,6,7,8,9,0]
s=0
for i in L:
 
    s=s+i**2
    # print(i,i**2)
print(s)

285

In [21]:
L=[1,2,3,4,5,6,7,8,9,0]
e=0
o=0
for i in L:
    if i%2==0:
        e=e+1
    else:
        o=o+1
print('count of even', e)
print('count of odd',o)

count of even 5
count of odd 5

In [23]:
L=[1,2,3,4,5,6,7,8,9,0]
e=0
o=0
for i in L:
    if i%2==0:
        e=e+i
    else:
        o=o+i
print('sum of even', e)
print('sum of odd',o)

sum of even 20
sum of odd 25

In [36]:
L=[1,2,3,4,5,6,7,8,9,0]
e=0
o=0
c=0
w=0
for i in L:
    if i%2==0:
        e=e+i #sum of even
        c=c+1 #count
    else:
        o=o+i #sum of odd
        w=w+1 #count
        
print('avg of even', e/c)
print('avg of odd',o/w)

avg of even 4.0
avg of odd 5.0

In [39]:
L=[1,2,3,4,5,6,7,8,9,0]
e=0
o=0
for i in L:
    if i%2==0:
        e=e+i**2
    else:
        o=o+i**3
print('even sq',e)
print('odd cube',o)

even sq 120
odd cube 1225

In [50]:
n=input('enter your name')
v=0
c=0
for i in n:
    if i=='a'or i=='e' or i=='i' or i=='o' or i=='u':
        v=v+1
    else:
        c=c+1
print(v)
print(c)

enter your name asha

2
2

In [56]:
L=[1,2,3,4,5,6,7,8,9,]
s=1
for i in L:
    s=s*i
    
print(s)

362880

In [ ]:
# when i want to do the task a number

# for loop

In [1]:
for i in range(1,10+1):
    print(i)

1
2
3
4
5
6
7
8
9
10

In [7]:
n =int(input('enter n'))
for i in range(1,n+1):
       print(i)

enter n 7

1
2
3
4
5
6
7

In [10]:
n =int(input('enter n'))
name= input('enter name')
c=0
for i in range(1,n+1):
    print(i)
    c=c+1
    print(name,c)

enter n 5
enter name asha

1
asha 1
2
asha 2
3
asha 3
4
asha 4
5
asha 5

In [11]:
n =int(input('enter n'))
for i in range(1,n+1):
    print('asha',i)

enter n 2

asha 1
asha 2

In [21]:
n = int(input('enter n:'))
s=0
for i in range(1,n+1):
    s=s+i
    
print(s)

enter n: 5

15

In [25]:
n= int(input('enter n:'))
a=0
for i in range(1,n+1):
    a=a+i

print('avg:',a/n)

enter n: 100

avg: 50.5

In [31]:
n=int(input('enter n:'))
ce=o
se=0
c0=0
so=0

for i in range(1,n+1):
    if i%2==0:
        ce=ce+1
        se=se+i
    else:
        co=co+1
        so=so+i
print('count of even', ce , 'sum is' , se)

enter n: 4

NameError: name 'o' is not defined

In [37]:
n= int(input('enter n'))
c=0
for i in range(1,11):
    c=c+1
    print(n,'*',i,'=',n*i)

enter n 8

8 * 1 = 8
8 * 2 = 16
8 * 3 = 24
8 * 4 = 32
8 * 5 = 40
8 * 6 = 48
8 * 7 = 56
8 * 8 = 64
8 * 9 = 72
8 * 10 = 80

In [38]:
n= int(input('enter n')) #factorial
f=1
for i in range(1,n+1):
    f=f*i
print(f)

enter n 4

24

In [48]:
n = int(input("Enter n: "))  #prime number cal
count = 0

for i in range(1, n+1):
    if n%i==0:
        count = count + 1
        print(i)
if count==2:
    print(n,'is prime')
else:
    print(n,'is not prime')

Enter n:  7

1
7
7 is prime

In [49]:
# how many  number do u want 
n = int(input('How many numbers do you want? '))
total = 0

for i in range(1, n + 1):
    num = int(input('Enter number : '))
    total = total + num

average = total / n
print('Average:', average)

How many numbers do you want?  4
Enter number :  2
Enter number :  3
Enter number :  5
Enter number :  6

Average: 4.0

In [2]:
for i in range (10 ,1,-1):
    print(i)

10
9
8
7
6
5
4
3
2

In [3]:
for i in range (10 ,1,-3):
    print(i)

10
7
4

# while loop