In [ ]:
# Data Types
#1. Immutable - numeric , string , tuples
#2. Mutable - list , dict , set

In [1]:
n = 12345 # it gave error bcoz n is number int not a string 
for i in n:
    if i==3:
        break
    print(i)
print('bye')

TypeError: 'int' object is not iterable

# String

In [ ]:
# it is a sequence of characters that always written into quotation

In [2]:
s1 = 'hello'
print(s1,type(s1)) # type

hello <class 'str'>

In [3]:
s3 = '''hello 
i
    am
D
    E
        E
            P
ANSHU'''
# """ ,''' the three quote is writing for  para 

print(s3)

hello
i
    am
D
    E
        E
            P
ANSHU

In [9]:
first = 'Deepanshu'
last = 'Verma'

full = first + ' ' + last # Concatenation
print(full)
print((last + ' ')*2) # repetiton of string

Deepanshu Verma
Verma Verma

# F string , formate specifier

In [10]:
print('My first name is',first,'and my last name is',last)
print(f'My first name is {first} and my last name is {last}') # f string
print('My first name is {} and my last name is {}'.format(first,last)) # format specifier

My first name is Deepanshu and my last name is Verma
My first name is Deepanshu and my last name is Verma
My first name is Deepanshu and my last name is Verma

In [11]:
first = 'Asha'
last = 'Bakshi'

full=first + ' '+last
print(full)
print((last+' ')*2)

Asha Bakshi
Bakshi Bakshi

In [16]:
print('My first name is', first,'and my last name is',last)
# f string
print(f'My first name is {first} and my last name is {last}')
# format specifier
print('My first name is {} and my last name is {}'.format(first,last))

My first name is Asha and my last name is Bakshi
My first name is Asha and my last name is Bakshi
My first name is Asha and my last name is Bakshi

# lenght of string

In [17]:
s = 'apple'
print(len(s))

5

In [18]:
a='asha'
print(len(a))

4

# indexing and slicing

In [19]:
s = 'deepanshu @123'
print(len(s))

14

In [21]:
print(s[5])
print(s[0])
print(s[9])
print(s[-1])
print(s[-5])
#print(s[30])

n
d

3

In [23]:
# slicing

s = 'deepanshu @123'

print(s[ 4:8 ]) # s[4:8] means slice from index 4 up to (but not including) index 8 -> 'ansh'
print(s[6:11]) # s[6:11] means slice from index 6 to 10 → 'shu @'
print(s[-6:-1]) # s[-6:-1] means slice from 6th last to 1st last (not including last) -> '@123'
print(s[0:-1]) # s[0:-1] means from start to 1st last character (excluding last) -> 'deepanshu @12'
print(s[0:30]) # s[0:30] goes beyond the string length, so it prints entire string -> 'deepanshu @123'
print(s[0:]) # s[0:30] goes beyond the string length, so it prints entire string -> 'deepanshu @123'
print(s[:100]) # s[:100] again goes beyond length, so prints full string → 'deepanshu @123'
print(s # s[:] is the same as entire string -> 'deepanshu @123'
print(s[7:-2]) # s[7:-2] means from index 7 to second last character -> 'u @1'

ansh
shu @
u @12
deepanshu @12
deepanshu @123
deepanshu @123
deepanshu @123
deepanshu @123
hu @1

In [24]:
 s = 'deepanshu @123'
print(s[0:100:3])
print(s[0:100:1])
print(s[0:100:2]) #Every 2nd character from start.
print(s[::1])
print(s[::-1]) # reverse of string

dps 2
deepanshu @123
deasu@2
deepanshu @123
321@ uhsnapeed

# string function

In [25]:
s = 'a quick brown fox jumps over the lazy dog'
print(s,len(s))

a quick brown fox jumps over the lazy dog 41

In [27]:
# index
print(s.index('q'))
print(s.index('a'))
#print(s.index('A'))

2
0

In [28]:
# count
print(s.count('o'))
print(s.count('A'))

4
0

In [29]:
# replace
print(s.replace('fox','cat'))

a quick brown cat jumps over the lazy dog

In [31]:
s1 = 'deepanshu'
s2='234567890'
s3= 'deepanshu345678'
s4 = ' '
s5 = '^%**)('


print(s1.isalpha()) #alphabets
print(s2.isdigit()) #numeric value
print(s3.isalnum()) #alpha numeric
print(s4.isspace()) #find space

True
True
True
True

In [33]:
s1 = 'deepanshu'
s2 = 'DEEPANSHU'
s3 = 'Deepanshu'
s4 = 'deepanshu verma'

print(s1.islower()) #checks if all characters in s1 are lowercase 
print(s1.upper()) #converts all characters in s1 to uppercase
print(s2.isupper()) ##checks if all characters in s2 are uppercase
print(s2.lower()) #converts all characters in s1 to lowercase
print(s1.capitalize()) #capitalizes only the first character of s1
print(s4.title()) #capitalizes the first letter of each word
print(s3.istitle()) #checks if all characters in s3 is title (first letter capital)
print(s3[0].isupper()) #checks if the first character of s3 is uppercase

True
DEEPANSHU
True
deepanshu
Deepanshu
Deepanshu Verma
True
True

In [35]:
# split
s = 'a quick brown fox jumps over the lazy dog'

print(s.split(' '))
print(s.split('o'))

['a', 'quick', 'brown', 'fox', 'jumps', 'over', 'the', 'lazy', 'dog']
['a quick br', 'wn f', 'x jumps ', 'ver the lazy d', 'g']

In [38]:
print(s.startswith('z'))
print(s.endswith('og'))

False
True

In [39]:
s1= 'FDFHyfFHHugdfbhyt'
print(s1.swapcase())

fdfhYFfhhUGDFBHYT

In [41]:
s = input('enter string ')

if s==s[::-1]:
    print('pallindrome')
else:
    print('Not Pallindronme')

enter string  assa

pallindrome

In [42]:
s = 'dee@123.com'
for i in s:
    if i.isalnum():
       pass
    else:
        print(True)
        break

True

In [43]:
x = 'banana' #ban
s =''
for i in x:
    if i not in s:
        s = s + i
print(s)

ban

In [44]:
s ='apple'
c=0
for i in s:
    print(i,'.....',c)
    c=c+1

a ..... 0
p ..... 1
p ..... 2
l ..... 3
e ..... 4

In [46]:
s ='apple'

for i in range(len(s)):
    print(s[i],'........',i)

a ........ 0
p ........ 1
p ........ 2
l ........ 3
e ........ 4

In [5]:
#  Write a program that takes a sentence as input and 
# counts the number of words in it
s=input("enter n:")
c=0
for i in s:
   c=c+1
print(c)
print(i)

enter n: asha

4
a

In [ ]:
#  Implement a function that checks if a given string is a 
# pangram (contains all letters of the alphabet

In [6]:
# Take input
sentence = input("Enter a sentence: ")

count = 0
in_word = 0  # 0 means outside a word, 1 means inside a word

for char in sentence:
    if char != ' ' and in_word == 0:
        count += 1
        in_word = 1
    elif char == ' ':
        in_word = 0

print("Number of words in the sentence:", count)

Enter a sentence:  asha bakshi

Number of words in the sentence: 2

In [7]:
n= input("enter name")
v=n.split()
v=list(v)
d=0
for i in v:
    d=d+1
print(d)

enter name asha bakshi

2

In [ ]:
#  Given a string, write a function to remove all vowels from 
# # it and return the modified string
def vowels_cal(vowel):
    if