# typecasting

In [1]:
# convert '5' into float
a='5'
b=float(a)
print(b, type(b))

5.0 <class 'float'>

In [2]:
#convert 5.6 into string 

z= 5.6
y= str(z)
print(y, type(y))

5.6 <class 'str'>

In [7]:
#convert '10.5' into int
c='10.5'
d= float(c)
r= int(d)
print('Print the data type of ',c,'is', type(c))
print('Print the data type of ',d,'is', type(d))
print('Print the data type of ',r,'is', type(r))

Print the data type of  10.5 is <class 'str'>
Print the data type of  10.5 is <class 'float'>
Print the data type of  10 is <class 'int'>

In [9]:
#input
a = input('enter the value of a ')
print(a, type(a))

enter the value of a  2

2 <class 'str'>

In [10]:
b = int(input('enter the value of b '))
print(b, type(b)) # error bcz int can't convert str ,, so 1st changed into float then int

enter the value of b  2.3

ValueError: invalid literal for int() with base 10: '2.3'

In [12]:
c = float(input('enter the value of c '))
print(c, type(c))
d=int(c)
print(d, type(d))

enter the value of c  5.5

5.5 <class 'float'>
5 <class 'int'>

In [20]:
#input name

a= input('Enter your name')
print('My name is',a, type(a))

Enter your name asha

My name is asha <class 'str'>

In [24]:
#input age
b = int(input('Enter your age'))
print('My name is',b, type(b))

Enter your age 20

My name is 20 <class 'int'>

In [22]:
#input marks
b = float(input('Enter your marks'))
print('My name is',b, type(b))

Enter your marks 50.67

My name is 50.67 <class 'float'>